.crea-contenedor{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    
    h2{
        font-size: 3rem;
        color: black;
    }

    .cuadro{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        border-radius: 20px;
        width: 70%;
        padding-top: 20px;
        padding-bottom: 20px;

        #formu{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .column{
            display: flex;
            flex-direction: column;
            float: left;
            width: 33%;
            padding-left: 20px;

            #observaciones{
                width: 580px;
                height: 86;
            }
        }

    }

    .empresas{
        padding-top: 50px;
        text-align: center;
        table{
            font-size: 1.3rem;
            border-collapse: collapse;
            
            th{
                background-color: #a8a8a8;
                color: black;
            }

            th,td{
                padding: 10px;
                border: 1px solid black;
                a{
                    color: black;
                    &:hover{
                        color: white;
                        transition: color 0.25s ease ;
                    }
                }

                i{
                    padding: 5px;
                }
            }
            tr:hover{
                color: white;
                background-color: #087021;
                transition: background-color 0.25s ease ;
            }
            
        }

    }
}