.menu{
    height: 135px;
    width: 100%;
    background-color: #087021;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 50px;

    img{
        display: block;
        width: 135px;
        height: 135px;
        
    }
}